<div ng-controller="MainController as main">
    <div class='grid-block align-right'>
        <a zf-open="createLongboardModal" class="button">Create</a>
    </div>
    <div zf-modal="" class='' id="createLongboardModal">
         <a zf-close="createLongboardModal" class="close-button" ng-click="main.resetTempLongboard()">×</a>
         <div ng-include="" src="'partials/tempModal.html'"></div>
         <div class="grid-block align-center"><a zf-close="createLongboardModal" class="button" ng-click="main.createLongboard()">Submit</a></div>
    </div><!-- End Create Longboard Modal -->
    <div class="grid-block align-center">
        <h1 class='grid-container'>Hillyard Longboard Shop</h1>
    </div>
    <div class="grid-block align-center small-up-1 medium-up-3 large-up-6">
        <div class="vertical grid-block" ng-repeat="longboard in main.longboards">
            <div class="grid-container">
                <div class="grid-content">
                    <img class="thumbnail" src="{{longboard.bottom_img_url}}" />
                </div>
                <div class="grid-content">
                    <ul>
                        <li>Name : {{longboard.name}}</li>
                        <li>Brand : {{longboard.brand}}</li>
                        <li> Length: {{longboard.length}}</li>
                        <li>Style : {{longboard.style}}</li>
                        <li>Price : {{longboard.price | currency}}</li>
                    </ul>
                </div>
                <div class="grid-content">
                    <a zf-open="longboardModal" class="button small-5 medium-5 large-5" ng-click="main.copyLongboard($index)">Edit</a>
                    <a  class="button small-5 medium-5 large-5" ng-click="main.deleteLongboard($index)">Delete</a>
                </div>
            </div><!--End Grid Container-->
        </div><!--End Longboard Grid Block Card -->
    </div><!-- End Longboard Grid -->
    <div zf-modal="" class='' id="longboardModal">
         <a zf-close="longboardModal" class="close-button" ng-click="main.resetTempLongboard()">×</a>
         <div ng-include="" src="'partials/tempModal.html'"></div>
         <div class="grid-block align-center"><a zf-close="longboardModal" class="button" ng-click="main.updateLongboard()">Submit</a></div>
    </div><!--End Longboard Update Modal-->
</div><!-- End Main Controller Scope -->
