---
name: contact
url: /contact
animationIn: slideInLeft
---

<div class="grid-container">
  <h1>This is a Contact Page!</h1>
  <p class="lead">This is version <strong>1.1 Weisshorn</strong>.</p>
</div>
            <a zf-open="basicModal" class="button">Open modal</a>
            <div zf-modal="" class='large' id="basicModal">
                <a zf-close="" class="close-button">×</a>
					<form>
							<label>
							Input Label
							<input placeholder="Text field" type="text">
							</label>
							<div class="vertical grid-block">
								<div class="small-12 medium-6 grid-content">
									<label>
									Input Label
									<input placeholder="Text field" type="text">
									</label>
								</div>
								<div class="small-12 medium-6 grid-content">
									<label>Select Label</label>
									<select name="" id="">
									<option value="">Breakfast</option>
									<option value="">Bacon Pancakes</option>
									<option value="">Mountain Dew</option>
									<option value="">Scrambled eggs with grilled zucchini, spinach, leeks, roasted tomatoes and mozzarella</option>
									</select>
								</div>
								<div class="small-12 medium-6 grid-content">
									<label>
									Prefix/postfix
									<span class="inline-label">
									<span class="form-label">www.</span>
									<input type="text">
									<span class="form-label">.com</span>
									</span>
									</label>
								</div>
								<div class="small-12 medium-6 grid-content">
								<label>
								Search
								<span class="inline-label">
								<input placeholder="Search a thing" type="search">
								<a href="#" class="button">Search</a>
								</span>
								</label>
								</div>
								<div class="small-12 medium-6 grid-content">
								<label>Choose Your Favorite</label>
								<input name="pokemon" value="Red" id="pokemonRed" type="radio"><label for="pokemonRed">Red</label>
								<input name="pokemon" value="Blue" id="pokemonBlue" type="radio"><label for="pokemonBlue">Blue</label>
								</div>
								<div class="small-12 medium-6 grid-content">
								<label>Check these out</label>
								<input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
								<input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
								</div>
							</div>
					</form>
            </div>
 